html {
    scroll-padding-top: 3em;
    /* fonts */
    --rubik: 'Rubik', Helvetica, Arial, sans-serif;
    --open-sans: 'Open Sans' , sans-serif;
    /* brnad colors */
    --green: #1d8263;
    --blue: #1f3872;
    --dark-blue: #172953;
    --yellow: #ffb81c;
    --brown: #782f40;
    --dark-brown: #4f1e2a;
    /* product colors */
    --mango: #ff912a;
    --manzana: rgb(214, 0, 0);  
    --pitahaya: rgb(221, 199, 0);
    --frutilla: rgb(248, 100, 100);
    --pina: #ffb81c;
    --papaya: rgb(255, 115, 0);
    --mango-light: rgb(255, 171, 42, 0.2);
    --manzana-light: rgba(192, 45, 45, 0.2);  
    --pitahaya-light: rgb(221, 199, 0, 0.2);
    --frutilla-light: rgb(255, 71, 71, 0.2);
    --pina-light: rgb(255, 184, 28, 0.2);
    --papaya-light: rgb(255, 115, 0, 0.2);
    /* prod images */
    --prod-img-size: 250px;
    --prod-shadow-size: -20px -10px 0;
    /* nosotros */
    --blue-alt: #042779;
    --dark-blue-alt: #021e60;
}
header {
    display: flex;
    align-items: center;
}
body {
    font-family: var(--rubik);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--rubik);
}
p {
    font-family: var(--open-sans);
}
a {
    text-decoration: none;
}
section a, nav a {
    text-decoration: none;
    background-image: linear-gradient(to right, var(--manzana) 16.6%, var(--frutilla) 33.2%, var(--papaya) 49.8%, var(--mango) 66.4%, var(--pina) 83%, var(--pitahaya) 90%);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
section a:hover, section a:focus, nav a:hover, nav a:focus{
    background-size: 100% 2px;
}
.logo-container {
    margin: 1.8em auto 1.5em
}
.logo {
    height: 10em;
}
nav {
    position: sticky;
    border-bottom: 1px solid #eee;
    height: 50px;
    display: flex;
    align-items: center;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    z-index: 2;
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.39); */
}
nav > ul {
    display: flex;
    list-style: none;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-x: scroll;
    /* scrollbar-width: none; */
}
nav:after {
    content: '';
    position: absolute;
    height: 50px;
    width: 1.8em;
    right: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.301), white);
}
nav > ul > li {
    margin-right: calc((100vw - 278.5px)/3);
    margin-bottom: 0.8em;
    margin-top: 0.7em;
    white-space: nowrap;
}
nav > ul > li > a {
    text-decoration: none;
    color: black;
    width: 70px;
    display: inline-block;
    text-align: center;
}
/* nav > ul > li >a:hover {
    color: var(--yellow);
} */
main {
    scroll-behavior: smooth;
}
.hero {
    /* height: 400px; */
    background-size: cover;
    background-position: center;
    background-color: #ffd42a;
    margin-bottom: 1em;
    margin-top: 0;
    position: relative;
    width: 100%;
    padding-bottom: 4em;
}
.hero::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 28px;
    background-image: url(/static/img/triangle.png);
    background-position: center;
    background-size: 50px 20px;
    background-repeat: repeat-x;
    bottom: -21px;
    filter: invert(95%) sepia(35%) saturate(4490%) hue-rotate(326deg) brightness(97%) contrast(109%);
}
.hero img {
    width: 90vw;
    padding-top:30px;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto 
}
.hero h2,
.hero p {
    text-align: center;
}
.hero h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(55, 55, 55);
    text-transform: uppercase;
    margin-bottom: 4px;
}
.hero p {
    font-size: 1.3em;
    font-family: Rubik;
    line-height: 1.4;
    width: 90vw;
    margin:auto;
}
.hero-desc{
    margin-top: 2em;
}
section {
    padding-bottom: 4em;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
}
h1 {
    text-align: center;
    padding: 3em 0 2.5em 0;
    margin-bottom: 0;
}
.product {
    margin-right: auto;
    margin-left: auto;
}
.product > a.opciones {
    margin-left: auto;
    margin-right: auto;
}
img.product-img {
    background-color: var(--background-color-softer);
    width: var(--prod-img-size);
    height: var(--prod-img-size);
    border-radius: 100%;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    box-shadow:
  0px 1.6px 1.1px -29px rgba(0, 0, 0, 0.086),
  0px 3.9px 9.6px -29px rgba(0, 0, 0, 0.103),
  0px 7.4px 27.7px -29px rgba(0, 0, 0, 0.112),
  0px 14.1px 45.4px -29px rgba(0, 0, 0, 0.13),
  0px 35px 50px -29px rgba(0, 0, 0, 0.24)
;
}

/* .mango > img {
    filter: drop-shadow(var(--prod-shadow-size) var(--mango));
}
.frutilla > img {
    filter: drop-shadow(var(--prod-shadow-size) var(--frutilla));
}
.pina > img {
    filter: drop-shadow(var(--prod-shadow-size) var(--pina));
}
.manzana > img {
    filter: drop-shadow(var(--prod-shadow-size) var(--manzana));
}
.papaya > img {
    filter: drop-shadow(var(--prod-shadow-size) var(--papaya));
}
.pitahaya > img {
    filter: drop-shadow(var(--prod-shadow-size) var(--pitahaya));
} */
.mango > .product-content > h2 {
    color: var(--mango);
}
.frutilla > .product-content > h2 {
    color: var(--frutilla);
}
.pina > .product-content > h2 {
    color: var(--pina);
}
.manzana > .product-content > h2 {
    color: var(--manzana);
}
.papaya > .product-content > h2 {
    color: var(--papaya);
}
.pitahaya > .product-content > h2 {
    color: var(--pitahaya);
}
.product-content > p {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
a.opciones  {
    margin-right: auto;
    height: max-content;
    padding: .6em 1.5em;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: .08rem;
    text-transform: unset;
    border-radius: 8px;
    border: none;
    background-image: none;

}
[id^=modal] {
    display: none;
    position: fixed;
    top: calc(50% - 42vh);
    left: calc(50% - 38vw);
    /* transform: translate(-50%,-50%); */
    width: 69vw;
    border-radius: 2em;
    padding: 1em 1em 1em 1em;
    flex-direction: column;
    z-index: 3;
    justify-content: space-between;
    -webkit-animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
#modalManzana {
    box-shadow:
0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
0px 12.5px 10px var(--manzana-light),
0px 22.3px 17.9px var(--manzana-light),
0px 41.8px 33.4px var(--manzana-light),
0px 100px 80px rgba(0, 0, 0, 0.07);
}
#modalFrutilla {
    box-shadow:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0px 12.5px 10px var(--frutilla-light),
    0px 22.3px 17.9px var(--frutilla-light),
    0px 41.8px 33.4px var(--frutilla-light),
    0px 100px 80px rgba(0, 0, 0, 0.07);
}
#modalPina {
    box-shadow:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0px 12.5px 10px var(--pina-light),
    0px 22.3px 17.9px var(--pina-light),
    0px 41.8px 33.4px var(--pina-light),
    0px 100px 80px rgba(0, 0, 0, 0.07);
}
#modalMango {
    box-shadow:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0px 12.5px 10px var(--mango-light),
    0px 22.3px 17.9px var(--mango-light),
    0px 41.8px 33.4px var(--mango-light),
    0px 100px 80px rgba(0, 0, 0, 0.07);
}
#modalPapaya {
    box-shadow:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0px 12.5px 10px var(--papaya-light),
    0px 22.3px 17.9px var(--papaya-light),
    0px 41.8px 33.4px var(--papaya-light),
    0px 100px 80px rgba(0, 0, 0, 0.07);
}
#modalPitahaya {
    box-shadow:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0px 12.5px 10px var(--pitahaya-light),
    0px 22.3px 17.9px var(--pitahaya-light),
    0px 41.8px 33.4px var(--pitahaya-light),
    0px 100px 80px rgba(0, 0, 0, 0.07);
}
#modalManzana:target,
#modalFrutilla:target,
#modalPina:target,
#modalMango:target,
#modalPapaya:target,
#modalPitahaya:target,
.scale-up-center
 {
    display: flex;
    overflow-y: scroll;
}
.op {
    color: white;
}
 .op-manzana {
    background-color: var(--manzana);
 
 }
 .op-frutilla {
    background-color: var(--frutilla);
 }
 .op-pina {
    background-color: var(--pina);
 }
 .op-papaya {
    background-color: var(--papaya);
 }
 .op-mango {
    background-color: var(--mango);
 }
 .op-pitahaya {
    background-color: var(--pitahaya);
 }
.op-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
}
.op-item-img {
    border-radius: 100%;
    width:190px;
    height: 190px;
    margin-bottom: 1em;
    border: 5px solid #0000000f;
}
.op-item-name {
    font-size: 1em;
    text-align: center;
    margin-bottom: 0;
    font-family: var(--rubik);
    line-height: 1;
}
.op-item-price {
    font-family: var(--rubik);
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0;
}
.op-close {
    text-align: center;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.842);
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #00000021;
    border-radius: 50%;
    align-self: flex-end;
    line-height: 1.3;
    font-weight: 600;
    position: relative;
}
.op-close::after {
    content: 'x';
    position: absolute;
    top: 3px;
    left: 13px;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-1-9 13:43:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
.mango > .product-content > a.opciones {
    color: #e88c00;
    background-color: var(--mango-light);
}
.frutilla > .product-content > a.opciones {
    color: var(--frutilla);
    background-color: var(--frutilla-light);
}
.pina > .product-content > a.opciones {
    color: #d08f00;
    background-color: var(--pina-light);
}
.manzana > .product-content > a.opciones {
    color: var(--manzana);
    background-color: var(--manzana-light);
}
.papaya > .product-content > a.opciones {
    color: var(--papaya);
    background-color: var(--papaya-light);
}
.pitahaya > .product-content > a.opciones {
    color: rgb(176, 159, 0);
    background-color: var(--pitahaya-light);
}
.b-pad {
    padding-left: 2.5em;
    padding-right: 2.5em;
}
.features-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 3em;
    z-index: 1;
}
.features {
    position: relative;
}
.features::after {
    content: '';
    position: absolute;
    height: 50px;
    bottom: 8px;
    left: 0;
    right: 0;
    background-image: url('/static/img/stripe.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 20px;
    height: 200px;
    flex-basis: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.feature > img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.feature > p {
    font-family: var(--rubik)
}
.offer {
    background-color: #eef4fd;
    color: rgb(73, 73, 73);
    padding-bottom: 3em;
}
.offer > h1,
.pedidos > h1 {
    padding: 2em 0 0.8em 0;
}
.offer > p {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.pedidos {
    color: #37c837;
    position: relative;
    width: 100%;
    padding-bottom: 4em;
}
.pedidos > a {
    color: #37c837;
}
.pedidos::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 28px;
    background-image: url(/static/img/triangle.png);
    background-position: center;
    background-size: 50px 20px;
    background-repeat: repeat-x;
    bottom: -21px;
    filter: invert(96%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(104%);
}
.pedidos > a > div {
    background-color: #e9f9e9ff;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 8px;
}
.pedidos > a > div > p {
    margin: .1em 0;
    text-align: center;
}
.number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.number p {
    font-family: var(--rubik);
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0;
    white-space: nowrap;
}
.number > span {
    display: inline-block;
    background-image: url(/static/img/phone.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-top: -5px;
}
.services-style {
    background-color: var(--mango);
    color: #ffffff;
    background-image: url(/static/img/frutas-line.svg);
    background-position: 98% 98%;
    background-repeat: no-repeat;
    background-size: 80%;
    background-size:contain;
    background-blend-mode: color-burn;
}
.products-layout,
.services-layout,
.qualities-layout
{
    display: flex;
    flex-direction: column;
}
.product,
.service,
.quality,
.value {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.product,
.service,
.quality,
.story {
    margin-bottom: 4em;
}
.product-content > h2,
.service > h2,
.quality > h2,
.value > h2 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: .6em;
}
.service > img,
.quality > img,
.value > img {
    background-color: transparent;
    width: var(--prod-img-size);
    height: var(--prod-img-size);
    border-radius: 100%;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border: 15px solid #0000000f;
}
.qualities-style {
    position: relative;
    padding-bottom: 4em;
}
.quality-style {
    background-color: white;
    color: black;
}
/* .qualities-style::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -16px;
    left: 0;
    right: 0;
    background-image: url('/static/img/sol-tendal.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
} */
.us-style {
    background-color: var(--blue-alt);
    color: white;
    padding-bottom: 1em;
}
.story-content > p > a {
    color: white;
}
.story-content > p > a {
    color: var(--yellow);
}
.story-content > p > a:visited {
    color: var(--yellow);
}
.stories {
    display: flex;
    flex-direction: column;
}
.story > img {
    height: auto;
    width: 100vw;
    margin-bottom: 3em;
    border-radius: 5px;
    overflow-x: hidden;
    box-shadow:
  0px 1.6px 1.1px -29px rgba(0, 0, 0, 0.086),
  0px 3.9px 9.6px -29px rgba(0, 0, 0, 0.103),
  0px 7.4px 27.7px -29px rgba(0, 0, 0, 0.112),
  0px 14.1px 45.4px -29px rgba(0, 0, 0, 0.13),
  0px 35px 50px -29px rgba(0, 0, 0, 0.24)
;
}
.values {
    padding-top: 3em;
    padding-bottom: 5em;
    background-color: white;
    color: #042779;
    position: relative;
}
.values::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 28px;
    background-image: url(/static/img/triangle.png);
    background-position: center;
    background-size: 50px 20px;
    background-repeat: repeat-x;
    bottom: -21px;
    filter: invert(96%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(104%);
}
.value {
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    overflow: hidden;
}
.tab-label {
      display: flex;
      padding: 1em;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      cursor: pointer;
      border-bottom: 1px solid #04277921;
}
.tab-label > h2 {
    margin-bottom: 0;
}
/* Icon */
.tab-label:hover {
        background: darken(red, 10%);
}
.tab-label::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        line-height: 1;
        transition: all .35s;
}
.tab-content {
      max-height: 0;
      padding: 0 1em;
      transition: all .35s;
    }
.tab-close {
      display: none;
}
/* .tab-close:hover {
        background: darken(red, 10%);
} */
input.accordion {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
input.accordion:checked + .tab-label {
    background: transparent;
}
input.accordion:checked + .tab-label::after {
    transform: rotate(90deg);
}
input.accordion:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}
.contact {
    background-color: #f2efe9;
    color: #353534;
    padding-bottom: 1em;
}
.form {
    display: flex;
    flex-direction: column;
}
.name-email {
    display: flex;
    flex-direction: column;
}
#message {
    width: 100%;
    height: 114px;
}
.contact-form-container {
    margin-bottom: 4em;
}
.map {
    height: 300px;
    margin-bottom: 2em;
    margin-top: 2px;
    padding-top: 1em;
    /* border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa; */
}
.info {
    display: flex;
    flex-direction: column;
}
.info-item {
    text-align: center;
    margin-bottom: 1em;
}
.info-item > p {
    margin-top: -0.8em;
}
.info-item > p > a {
    color: #1a1a1a;
}
footer {
    border-top: 1px solid rgb(59, 59, 59);
    padding: 1em 0;
    background-color: #1a1a1a;
    color: white;
}
footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer p,
footer a > span {
    font-family: var(--heading-font);
    font-size: 1.3rem;
    margin-bottom: 0;
    color: #f2efe9;
}
footer a {
    line-height: 1;
}
.wapp {
    display: inline-block;
    color: inherit;
    background-image: url(/static/img/wapp-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 20px;
    width: 20px;
}
.form-map {
    margin-bottom: 3em;
}
/* Larger than mobile (default point when grid becomes active) */
@media(min-width: 490px) {

    nav > ul {
        width: 100%;
        max-width: 720px;
        justify-content: space-around;
        margin: auto;
        overflow-x: auto;
    }
    .hero {
        margin-top: 10px;
        height: 520px;
    }
    .product > img,
    .story > img {
        height: 400px;
        margin-bottom: 2rem;
        overflow-x: hidden;
        justify-self: center;
    }
    .b-pad {
        padding-right: 2em;
        padding-left: 2em;
    }
}
@media(min-width: 720px) {

    .hero {
        margin-bottom: -44px;
    }
    .features-layout {
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .features::after {
        bottom: 25px;
    }
    .products-layout, .stories {
        margin-right: auto;
        margin-left: auto;
    }
    .product > img,
    .story > img {
        height: auto;
    }
    .b-pad {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .services-layout,
    .qualities-layout,
    .values-layout,
    .info {
        display: flex;
        flex-direction: row;
    }
    .info-item {
        width: 25%;
    }
    .value {
        width: 33%;
    }
}

@media (min-width: 800px) {
    nav > ul {
        max-width: 900px;
    }
    .product,
    .story {
        display: flex;
        align-items: center;
    }
    .product:nth-child(even),
    .story:nth-child(even) {
        flex-flow: row-reverse;
    }
    .product-content,
    .story-content {
        width: 60%;
    }
    .services-style {
        background-position: 98% 98%;
        background-size: 60%;
    }
}

/* Larger than phablet */
@media(min-width: 900px) {

    .logo {
        height: 12em;
    }
    .hero {
        margin: 0 auto -60px;
        height: 550px;
        background-size: cover;
        background-position: center;
        max-width: 920px;
    }
    .b-pad {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
    .product > img,
    .story > img {
        max-height: 380px;
        max-width: 575px;
        /* margin-bottom: 3em; */
        border-radius: 4px;
    }
    .product {
        margin-bottom: 2.5em;
    }
    .story {
        margin-bottom: 3em;
    }
    .product,
    .story,
    .services-layout,
    .qualities-layout,
    .values-layout,
    .info,
    .form-map {
        margin-left: auto;
        margin-right: auto;
    }
    .story-content, .product-content {
        padding-left: 4em;
        padding-right: 4em;
        max-width: 850px;
    }
    .features-layout {
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    .service {
        width: 50%;
    }
    .quality,
    .value {
        width: 33%
    }
    .service > img,
    .quality > img,
    .value > img {
        width: 230px;
        height: 230px;
        margin-bottom: 3em;
    }
    .map {
        overflow: hidden;
        border-radius: 4px;
    }
    .form-map {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .feature > img,
    .feature > p {
        margin-bottom: 0;
    }
    .map {
        width: 60%;
        height: 460px;
        border-top: none;
        border-bottom: none;
        border-top: none;
    }
    .contact-form-container {
        width: 40%;
        margin-bottom: 0;
    }
    form,
    .map {
        margin-bottom: 0;
    }
}

/* Larger than tablet */
@media(min-width: 1200px) {
    section {
        padding-bottom: 5em;
    }
    .feature {
        flex-direction: row;
        justify-content: center;
    }
    .feature > p {
        margin-left: 1em;
        text-align: left;
    }
    .product,
    .story,
    .services-layout,
    .qualities-layout,
    .values-layout,
    .info,
    .form-map {
        width: 90vw;
    }
    .qualities-style::after {
        height: 175px;
        left: 8%;
        width: 280px;
        bottom: -25px;
    }
    .features::after {
        bottom: 0;
    }
    .services-style {
        background-position: 98% 98%;
        background-size: 40%;
    }
}
@media(min-width: 1380px) {
    html {
        font-size: calc(1.1 * var(--base-font-size));
      }
    .features::after {
        height: 55px;
        top: 40%;
        left: 0;
        width: 240px;
    }
 
    .features-layout {
        max-width: 60vw;
    }
    .product,
    .story,
    .services-layout,
    .qualities-layout,
    .values-layout,
    .info,
    .form-map {
        width: 85vw;
    }
    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        max-width: 400px;
    }
    .services-style {
        background-position: 98% 98%;
        background-size: 40%;
    }
}
@media(min-width: 1980px) {

    .product,
    .story,
    .services-layout,
    .qualities-layout,
    .values-layout,
    .info,
    .form-map {
        width: 70vw;
        max-width: 1900px;
    }
    .services-style {
        background-position: 98% 98%;
        background-size: 30%;
    }
}